{% extends 'main/layout.html' %}
{% block content %}

    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.QP }}</td>
                        <td><a href="{% url 'main:remove_from_cart' item.product %}">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>Total:</td>
                    <td>{{ total_price }}</td>
                    <td>
                    <form action="{% url 'main:orders' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Купить">
                    </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Your shopping cart is empty.</p>
    {% endif %}
{% endblock %}