{% extends 'main/layout.html' %}
{% load static %}
{%  block title %}главная страница{% endblock %}

{% block content %}

    {% for p in products %}
        <div class="card">
            <img src="{{  p.img.url }}" alt="{{ p.name }}" width="200" height="200">
            <h2>{{ p.name }}</h2>
            <p>{{ p.extra_info }}</p>
            <p>Цена: RUB {{ p.price }}</p>
            <form action="{% url 'main:add_to_cart' p.name %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="B корзину">
            </form>

        </div>
    {% endfor %}
{% endblock %}