{% extends 'main/layout.html' %}
{% load static %}
{%  block title %}Страница профиля{% endblock %}

{% block content %}

<h1> Добро пожаловать, {{ user.username }}</h1>

{% if perms.main.view_order2 %}
<a href ="{% url 'main:orders_detail' %}"> Смотреть все заказы </a>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">Создать код учёта</button>
</form>
<h2> Ваш код учёта: {{ user.registration_code }}</h2>
<h2> Ваш Баланс: {{ user.balance }}</h2>

<form action="{% url 'logout' %}?next=/profile" method="post">
  {% csrf_token %}
  <button type="submit">Выйти из аккаунта</button>
</form>
{% endblock %}
