{% extends 'main/layout.html' %}
{% load static %}
{%  block title %}Страница заказов{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css"/>
{% endblock %}






{% block content %}
    <h1>Заказы</h1>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Общий счёт покупок</th>
                <th>Текущий счёт клинета</th>
                <th>Потолок кредита</th>
                <th>Текущий долг</th>
                <th>Остаток кредита</th>
            </tr>
        </thead>
        <tbody>
        {% for item in user_details%}
            <tr>
                <td>{{item.user.username}}</td>
                <td>{{item.spent_money}}</td>
                <td>{{item.account_money}}</td>
                <td>{{item.credit_limit}}</td>
                <td>{{item.current_debt}}</td>
                <td>{{item.credit_remains}}</td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <th>Имя</th>
                <th>Общий счёт покупок</th>
                <th>Текущий счёт клинета</th>
                <th>Потолок кредита</th>
                <th>Текущий долг</th>
                <th>Остаток кредита</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}



{% block script %}

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script type="text/javascript"></script>
    <script>
    new DataTable('#example', {
        layout: {
            bottomEnd: {
                paging: {
                    boundaryNumbers: false
                }
            }
        }
    });
    </script>
{% endblock %}