{% extends 'main/layout.html' %}
{% load static %}

{%  block title %}Вход в аккаунт{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}"/>
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      {% csrf_token %}
      <input type="text"   name="username" id = "UserName" placeholder="Имя пользователя"/>
      <input type="password" name="password" id = "pwd" placeholder="Пароль"/>
      <button>Войти</button>
      <p class="message">Нет аккаунта? <a href="/register">Создать аккаунт</a></p>
      {{ form.errors }}
    </form>
  </div>
</div>

{% endblock %}